VITE_SANITY_ID="uzyjbxdd"
EXCHANGE_URL="https://v6.exchangerate-api.com/v6/"
EXCHANGE_API_KEY="your-exchange-api-key"
SANITY_WRITE_TOKEN=""
RESEND_API_KEY=""
NOTIFY_EMAIL="info@chdtravel.com"
DISCORD_WEBHOOK_URL=""
